@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,600);

html, body {
    margin: 0;
    padding: 2%;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    background: #434d5a;
    font-family: "Roboto";
}
#rnbo-root {
    height: 100vh;
    width: 100vw;
}
#background {
    position: absolute;
    z-index: -1;
}

h2, em {
    width: 100%;
}

#rnbo-root {
    margin: auto;
    max-width: 540px;
}

#rnbo-clickable-keyboard {
    display: flex;
    flex-wrap: wrap;
}

#rnbo-clickable-keyboard > div {
    margin: 2px;
    border: solid black 1px;
    min-height: 50px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rnbo-clickable-keyboard > div.clicked {
    background: #222222;
    color: #dddddd;
}

#rnbo-parameter-sliders {
    display: flex;
    flex-direction: column;
}

#rnbo-parameter-sliders > div {
    display: flex;
}

#rnbo-parameter-sliders > div > input:first-of-type {
    flex-grow: 1;
}













#wind, #crowds, #leaves, #cars {
    display: block;
    margin: 0; padding: 0;
    font-size: inherit;
    height: 1em;
    border-radius: .25em;
    border: .2em solid #434d5a;
    background-color: #434d5a;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow .2s linear;
    box-shadow: 0 0 0 0 transparent;
    &:focus { box-shadow: 0 0 0 .1em  #AAAAAA; }
    &:hover { box-shadow: 0 0 0 .15em #6FC5F0; }
  }
  
  /* ## Slider components */
  /* ### Slider::-track */
  #wind, #crowds, #leaves, #cars {
    @mixin track() {
      border: none;
      background: none;
      height: 100%;
      width: 100%;
    }
    &::-webkit-slider-runnable-track { @include track(); }
                 &::-moz-range-track { @include track(); }
                        &::-ms-track { @include track(); }
  }
  
  /* ### Slider::-thumb */
  #wind, #crowds, #leaves, #cars {
    @mixin thumb() {
      margin: .05em; padding: 0;
      height: .9em; width: .9em;
      border-radius: .1em;
      box-sizing: border-box;
      border: none;
      background-color: #6FC5F0;
      box-shadow:
        -10em 0 0 0 #313131, -9em 0 0 0 #313131,
         -8em 0 0 0 #2F343F, -7em 0 0 0 #283F6B,
         -6em 0 0 0 #214893, -5em 0 0 0 #1A52BC,
         -4em 0 0 0 #2769D3, -3em 0 0 0 #3E87DC,
         -2em 0 0 0 #55A5E6, -1em 0 0 0 #6FC5F0,
  
          1em 0 0 0 $background-color, 2em 0 0 0 $background-color,
          3em 0 0 0 $background-color, 4em 0 0 0 $background-color,
          5em 0 0 0 $background-color, 6em 0 0 0 $background-color,
          7em 0 0 0 $background-color, 8em 0 0 0 $background-color,
          9em 0 0 0 $background-color;
      cursor: ew-resize;
    }
    &::-webkit-slider-thumb { @include thumb(); }
        &::-moz-range-thumb { @include thumb(); }
               &::-ms-thumb { @include thumb(); }
  }
    
    
  /* ## Browser tweaks */
  /* ### webkit */
  #wind, #crowds, #leaves, #cars {
    &,
    &::-webkit-slider-runnable-track, 
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }
  }
  
  /* ### IE */
  #wind, #crowds, #leaves, #cars {
    &::-ms-track {
      color: transparent;
    }
    &::-ms-fill-lower, 
    &::-ms-fill-upper, 
    &::-ms-tooltip {
      display: none;
    }
  }