@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,600);

html, body {
    margin: 0;
    padding: 2%;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    background: #434d5a;
    font-family: "Roboto";
    color: white;
    text-shadow: 2px 2px tomato;
}
#rnbo-root {
    height: 100vh;
    width: 100vw;
}
#background {
    position: absolute;
    z-index: -1;
}

h2, em {
    width: 100%;
}

#rnbo-root {
    margin: auto;
    max-width: 540px;
}

#rnbo-parameter-sliders {
    display: flex;
    flex-direction: column;
}

#rnbo-parameter-sliders > div {
    display: flex;
}

#rnbo-parameter-sliders > div > input:first-of-type {
    flex-grow: 1;
}

/* styling for slider visualization */

.param-slider {
    -webkit-appearance: none;
}
   
.param-slider:focus {
    outline: none;
}

.param-slider::-webkit-slider-runnable-track {
    background: tomato;
    height: 10px;
}
   
.param-slider::-moz-range-track {
    background: tomato;
    height: 10px;
}

.param-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: pink;
    margin-top: -2.5px;
    border-radius: 10%;
}
   
.param-slider::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: pink;
    margin-top: -2.5px;
    border-radius: 10%;
}